/* -------------------------------- GENERAL -------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -------------------------------- HEADER -------------------------------- */

header {
  background-image: url("../img/wall.png");
  background-size: cover;

  font-family: "Quicksand", sans-serif;

  text-align: center;
}

header > h1 {
  margin-bottom: 0;

  padding: 1.5rem 0;
  font-size: 3.5rem;

  font-weight: 700;
  font-style: italic;
  font-size: 3rem;
}

/* -------------------------------- MAIN -------------------------------- */

main {
  font-family: "Edu TAS Beginner", cursive;

  background-image: url(../img/cork.png);
  background-size: contain;

  min-height: 100%;
}

.container {
  padding: 3rem;
}

.container > .row {
  justify-content: center;
}

.container .card {
  border-radius: 0px;
  position: relative;

  box-shadow: 1px 1px 5px gray;
  font-weight: 400;

  margin-bottom: 1rem;
  min-height: 290px;
}

.card:hover {
  transform: scale(1.2) rotate(10deg);
  z-index: 1;
  box-shadow: 1px 1px 20px black;

  transition: all 70ms;
}

.card:hover .circle {
  display: none;
}

.card img {
  margin: 1rem;

  cursor: pointer;
}

.card p {
  margin: 0 1rem;
  margin-bottom: 1rem;
}

.circle {
  height: 25px;
  width: 25px;
  padding: 0;

  position: absolute;
  top: -12.5px;
  right: calc(50% - 12.5px);
}

.circle img {
  margin: 0;
}

/* -------------------------------- LAYOVER -------------------------------- */

.layover {
  z-index: 2;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.5);
}

.layover img {
  max-width: 90vw;
}

/* responsive design */

@media screen and (min-width: 768px) {
  /* header */
  header > h1 {
    font-size: 5rem;
  }
  /* main */
  main {
    background-repeat: ;
  }
  .card {
    margin: 1rem 1rem;
  }
  .layover {
    height: 100%;
    width: 100%;
  }
}
